<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="ReportSiteUrl" value="http://builds.devweb.ny.pch.com/performance/testreports/reportviewer.aspx"/>-->
    <add key="ReportSiteUrl" value="http://localhost:4759/Performance.Testing.Utilities.ReportWebsite/reportviewer.aspx"/>
  </appSettings>
    <connectionStrings>
        <add name="Performance.Testing.Utilities.ReportConsole.Properties.Settings.LoadTest2010ConnectionString" connectionString="Data Source=WIN-SRV-08\SQLEXPRESS;Initial Catalog=LoadTest2010;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Performance.Testing.Utilities.ReportConsole.Properties.Settings.MongoLoadTestReportDatabaseConnectionString" connectionString="mongodb://loadtestreport:pch123@localhost/LoadTestReports" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
