<html>
<head>
	<meta charset="utf-8">
	<title></title>
    
	<style>
	    .column {
	        width:50%; 
	        float:left;
	    }
	    
	    iframe {
	        width: 100%;
	        height: 90%;
	        border: none;
	    }
	</style>
</head>
<body>

<div id="container">
	<header>

	</header>
	<div id="main" role="main">
    
	    <div class="column">
	        <iframe src="{{LeftReportUrl}}"></iframe>
            <a target="_blank" href="{{LeftReportUrl}}">open in a new window</a>
	    </div>
        
        <div class="column">
            <iframe src="{{RightReportUrl}}"></iframe>
            <a target="_blank" href="{{RightReportUrl}}">open in a new window</a>
        </div>

	</div>
	<footer>

	</footer>
</div> <!--! end of #container -->


</body>
</html>
